* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    text-align: center;
}

#tittle {
    background-color: #5d5b6a;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #f2f2f2;
    font-family: "Doto", serif;
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 400px; /* Altura mínima para manter a estrutura */
    background-color: #5d5b6a;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.2);
    padding: 20px;
}

#content {
    padding-top: 10px;
    color: #ffffff;
    width: 380px;
    height: 350px; /* Limite de altura */
    text-align: center;
    font-family: "Doto", serif;
    font-weight: 700;
    font-size: 13pt;
}


#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.buttons {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: #6a625b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Doto", serif;
}
